body {
    background-image: url('Background.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: font;
    font-size: 22.5px;
    cursor: url('Mousecursor.png'), auto;
}

@font-face{
    font-family: font;
    src:url(Font.ttf)
}

button {
    font-family: font;
    width: 120px;
    height: 45px;
    font-size: 20px;
    color: #ffffff;
    border: none;
    background-color: #586b80;
    border-radius: 5px;
    text-align: center;
    cursor: url('ButtonMousecursor.png'), auto;
    border: 2.5px solid #262f38;
}

@media only screen and (max-width: 440px) {
    .left-bar {
        display: none;
    }

    .right-bar {
        display: none;
    }
}


.left-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 75px;
    background-color: #434343;
    border: 0px solid black;
    border-right-width: 3px;
    border-right-color: black;
}

.right-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 75px;
    background-color: #434343;
    border: 0px solid black;
    border-left-width: 3px;
    border-left-color: black;
}

.main-content {
    margin-left: 75px;
    margin-right: 75px;
}

img {
    border-radius: 10px;
    width: 65px;
    height: 65px;
    border: 2.5px solid #262f38;
}
